<connectionStrings>
  <add name="Model1"
       connectionString="data source=sqlserver;
                         initial catalog=StokAppDb2;
                         persist security info=True;
                         user id=sa;
                         password=@Controller0221@;
                         MultipleActiveResultSets=True;
                         App=EntityFramework" providerName="System.Data.SqlClient"/>
</connectionStrings>